@page
@using Base_Framework.General
@model Help.EndPoints.RazorPage.Areas.UserPanel.Pages.AddHelpRequestModel
@{
}

@if (Model.Message != null)
{
    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(function () {

            Swal.fire({
                showConfirmButton: false,
                timer: 2500,
                text: "@Html.Raw(Model.Message)",
                    icon: "@Html.Raw(Model.Icon)"
                });
            });
        </script>


    }

}

<div class="container">
    <div class="main-body">
        <partial name="_Breadcrumb" />

        <div class="row gutters-sm">


            <div class="col-md-4 mb-3">
                @await Component.InvokeAsync("SideMenu")
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="login-form">
                            <div class="row">
                                <h4 class="login-title">ایجاد درخواست جدید</h4>
                                <div class="col-md-12 col-12 mb-20">
                                    <span class="text-danger" asp-validation-for="CreateHelpRequest.Title"></span>
                                    <label>عنوان</label>
                                    <input type="text" asp-for="CreateHelpRequest.Title" placeholder="عنوان">

                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <span class="text-danger" asp-validation-for="CreateHelpRequest.Description"></span>
                                    <label>توضیحات</label>
                                    <input type="text" asp-for="CreateHelpRequest.Description" placeholder="توضیحات">

                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <span class="text-danger" asp-validation-for="CreateHelpRequest.ExpirationDate"></span>
                                    <label>تاریخ انقضای درخواست</label>


                                    <input asp-for="CreateHelpRequest.ExpirationDate" type="text" class="form-control round" id="kama-datepicker-empty" placeholder="تاریخ تحویل" value="@DateTime.Now.ToFarsi()">
                                </div>

                                <div class="col-md-12 col-12 mb-20">
                                    <label>قیمت پیشنهادی به تومان</label>
                                    <input type="number" asp-for="CreateHelpRequest.ProposedPrice" placeholder="قیمت پیشنهادی به تومان  ">
                                    <span class="text-danger" asp-validation-for="CreateHelpRequest.ProposedPrice"></span>
                                </div>


                                @* <div class=" file-upload file-upload1">
                                <div class="file-select">
                                <div class="file-select-button" id="fileName">انتخاب کنید</div>
                                <div class="file-select-name" id="noFile1">عکس اول</div>
                                <input asp-for="CreateHelpRequest.Picture1" type="file" name="chooseFile1" id="chooseFile1">
                                </div>
                                </div>

                                <div class="  file-upload file-upload2">
                                <div class="file-select">
                                <div class="file-select-button" id="fileName">انتخاب کنید</div>
                                <div class="file-select-name" id="noFile2">عکس دوم</div>
                                <input asp-for="CreateHelpRequest.Picture2" type="file" name="chooseFile2" id="chooseFile2">
                                </div>
                                </div> *@
                                <div class="col-6">

                                    <input asp-for="CreateHelpRequest.Picture1" style="padding:0;height:auto" class="form-control" type="file" id="formFile">
                                </div>

                                <div class="col-6">

                                    <input asp-for="CreateHelpRequest.Picture2" style="padding:0;height:auto" class="form-control" type="file" id="formFile">
                                </div>


                                <div class="col-md-12 col-12 mb-20">
                                    <span class="text-danger" asp-validation-for="CreateHelpRequest.ServiceId"></span>
                                    <select class="form-control text-center" asp-for="CreateHelpRequest.ServiceId"
                                            asp-items='new SelectList(@Model.Services, "Id", "Title")'>
                                        <option value="0">گروه </option>
                                    </select>

                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <button class="register-button m-2">ثبت</button>
                                </div>
                                <input type="hidden" asp-for="CreateHelpRequest.CustomerId" value="@Model.CreateHelpRequest.CustomerId" />
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</div>
