@page
@using Base_Framework.General
@model Help.EndPoints.RazorPage.Areas.UserPanel.Pages.AddHelpRequestModel
@{
}

@if (Model.Message != null)
{
    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(function () {

            Swal.fire({
                title: "لطفا دوباره امتحان کنید.",
                showConfirmButton: false,
                timer: 2500,
                text: "@Html.Raw(Model.Message)",
                    icon: "@Html.Raw(Model.Icon)"
                });
            });
        </script>


    }

}

<div class="container">
    <div class="main-body">
        <partial name="_Breadcrumb" />

        <div class="row gutters-sm">


            <div class="col-md-4 mb-3">
                @await Component.InvokeAsync("SideMenu")
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <form method="post">
                        <div class="login-form">
                            <div class="row">
                                <h4 class="login-title">ایجاد درخواست جدید</h4>
                                <div class="col-md-12 col-12 mb-20">
                                        <span class="text-danger" asp-validation-for="CreateHelpRequest.Title"></span>
                                    <label>عنوان</label>
                                    <input type="text" asp-for="CreateHelpRequest.Title" placeholder="عنوان">
                                
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                        <span class="text-danger" asp-validation-for="CreateHelpRequest.Description"></span>
                                    <label>توضیحات</label>
                                    <input type="text" asp-for="CreateHelpRequest.Description" placeholder="توضیحات">
                                
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                      <span class="text-danger" asp-validation-for="CreateHelpRequest.ExpirationDate"></span>
                                    <label>تاریخ انقضای درخواست</label>
                                        
                          
                            <input asp-for="CreateHelpRequest.ExpirationDate" type="text" class="form-control round" id="kama-datepicker-empty" placeholder="تاریخ تحویل" value="@DateTime.Now.ToFarsi()">
                                   
                                  
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <span class="text-danger" asp-validation-for="CreateHelpRequest.ProposedPrice"></span>
                                    <label>قیمت پیشنهادی به تومان</label>
                                    <input type="number" asp-for="CreateHelpRequest.ProposedPrice" placeholder="قیمت پیشنهادی به تومان  ">
                                   
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <span class="text-danger" asp-validation-for="CreateHelpRequest.ServiceId"></span>
                                    <select  class="form-control text-center" asp-for="CreateHelpRequest.ServiceId"
                                            asp-items='new SelectList(@Model.Services, "Id", "Title")'>
                                        <option value="0">گروه </option>
                                    </select>
                           
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <button class="register-button m-2">ثبت</button>
                                </div>
                                <input type="hidden" asp-for="CreateHelpRequest.CustomerId" value="@Model.CreateHelpRequest.CustomerId" />
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</div>
