@page "{id}"
@model Help.EndPoints.RazorPage.Areas.UserPanel.Pages.ProposalDetailModel
@{
}



@if (Model.Message != null)
{
    @section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(function () {

            Swal.fire({
                showConfirmButton: false,
                timer: 2500,
                text: "@Html.Raw(Model.Message)",
                    icon: "@Html.Raw(Model.Icon)"
                });
            });
        </script>


    }

}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.HelpRequest.Title</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="/Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-page="/HelpRequest" asp-route-id="@Model.HelpRequest.Title">@Model.HelpRequest.Title</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="page-content-area">
    <div class="container">
        <div class="row">


            <div class="col-md-7 mb-3">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="single-product-main-content-area section-space" style="direction: ltr;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-details-slider-area">
                                        <div class="big-image-wrapper">
                                            <div class="product-details-big-image-slider-wrapper product-details-big-image-slider-wrapper--bottom-space ht-slick-slider"
                                                 data-slick-setting='{
                                                    "slidesToShow": 1,
                                                    "slidesToScroll": 1,
                                                    "arrows": false,
                                                    "autoplay": false,
                                                    "autoplaySpeed": 5000,
                                                    "fade": true,
                                                    "speed": 500,
                                                    "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
                                                    "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
                                                }' data-slick-responsive='[
                                                    {"breakpoint":1501, "settings": {"slidesToShow": 1, "arrows": false} },
                                                    {"breakpoint":1199, "settings": {"slidesToShow": 1, "arrows": false} },
                                                    {"breakpoint":991, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} }
                                                ]'>

                                                <div class="single-image">
                                                    <img src="~/Images/HelpRequestPictures/@Model.HelpRequest.Picture1Detail.Name" class="img-fluid">
                                                </div>

                                                @if (@Model.HelpRequest.Picture2Detail != null)
                                                {
                                                    <div class="single-image">
                                                        <img src="~/Images/HelpRequestPictures/@Model.HelpRequest.Picture2Detail.Name" class="img-fluid">
                                                    </div>
                                                }

                                            </div>
                                        </div>


                                        <div class="product-details-small-image-slider-wrapper product-details-small-image-slider-wrapper--horizontal-space ht-slick-slider"
                                             data-slick-setting='{
                                                    "slidesToShow": 4,
                                                    "slidesToScroll": 1,
                                                    "arrows": true,
                                                    "autoplay": false,
                                                    "autoplaySpeed": 5000,
                                                    "speed": 500,
                                                    "asNavFor": ".product-details-big-image-slider-wrapper",
                                                    "focusOnSelect": true,
                                                    "centerMode": false,
                                                    "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
                                                    "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
                                                }' data-slick-responsive='[
                                                    {"breakpoint":1501, "settings": {"slidesToShow": 3, "arrows": false} },
                                                    {"breakpoint":1199, "settings": {"slidesToShow": 3, "arrows": false} },
                                                    {"breakpoint":991, "settings": {"slidesToShow": 5, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":767, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":575, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":479, "settings": {"slidesToShow": 2, "arrows": false, "slidesToScroll": 1} }
                                                ]'>
                                            <div class="single-image">
                                                <img src="~/Images/HelpRequestPictures/@Model.HelpRequest.Picture1Detail.Name" class="img-fluid" style="height:150px">
                                            </div>
                                            @if (@Model.HelpRequest.Picture2Detail != null)
                                            {
                                                <div class="single-image">
                                                    <img src="~/Images/HelpRequestPictures/@Model.HelpRequest.Picture2Detail.Name" class="img-fluid" style="height:150px">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-5 mb-3 ">



                <div class="product-description-review-area">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-slider-wrapper product-description-review-container  ">


                                <div class="single-product-content-description">

                                    <h3>درخواست: </h3>

                                    <div class="user-panel-card-body">
                                        <div class="row ">
                                            <div col-lg-6>
                                                <img src="~/Images/ProfilePictures/@Model.HelpRequest.Customer.Picture.Name" alt="@Model.HelpRequest.Customer.Picture.Alt" class="rounded-circle" height="150" width="150">

                                            </div>
                                            <div col-lg-6>
                                                <h4>@Model.HelpRequest.Customer.FullName</h4>
                                                <div class="product-rating">
                                                    <span class="rating">
                                                        <i class="ion-android-star active"></i>
                                                        <i class="ion-android-star active"></i>
                                                        <i class="ion-android-star active"></i>
                                                        <i class="ion-android-star active"></i>
                                                        <i class="ion-android-star-outline"></i>
                                                    </span>
                                                </div>
                                                <br />
                                                <h4 class="product-title mx-2">@Model.HelpRequest.Title</h4>
                                            </div>

                                        </div>

                                        <p class="single-grid-product__price" style="direction: rtl">

                                            قیمت پیشنهادی : <span class="main-price">@Model.HelpRequest.ProposedPrice تومان</span>

                                        </p>

                                        <p class="single-grid-product__price" style="direction: rtl">
                                            تاریخ انقضا : <span class="date"> @Model.HelpRequest.ExpirationDate </span>


                                        </p>



                                        <p class="single-info">
                                            @if (Model.HelpRequest.StatusId == 2)
                                            {
                                                <span class="text-success">منتظر پیشنهاد افراد</span>
                                            }
                                            else if (Model.HelpRequest.StatusId == 3)
                                            {
                                                <span class="text-warning">در حال انجام</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">به پایان رسیده</span>
                                            }

                                        </p>
                                    </div>



                                    <h5 class="single-info">توضیحات: @Model.HelpRequest.Description </h5>

                                    @if (Model.HelpRequest.StatusId == 1)
                                    {
                                        <div class="row">


                                            <a asp-page="EditHelpRequest" asp-area="UserPanel" asp-route-id="@Model.HelpRequest.Id" class="btn btn-secondary">ویرایش</a>
                                            <a asp-page-handler="Remove" asp-page="HelpRequestList" asp-route-id="@Model.HelpRequest.Id" class="btn btn-outline-danger">حذف</a>
                                        </div>
                                    }

                                    <br />
                                    <br />




                                </div>
                            </div>
                        </div>


                        @if (Model.HelpRequest.StatusId == 4)
                        {
                            <div class=" col-12">
                                <h4>پیشنهاد شما : </h4>


                                <br />
                                <p class="single-grid-product__price" style="direction: rtl">

                                    قیمت پیشنهادی : <span class="main-price">@Model.Proposal.SuggestedPrice تومان</span>

                                </p>
                                <br />
                                <p class="single-grid-product__price" style="direction: rtl">
                                    تاریخ انقضا : <span class="date"> @Model.Proposal.SuggestedTime </span>


                                </p>
                                <br />
                            </div>




                        }

                        @if (Model.HelpRequest.StatusId == 4)
                        {
                            @if (!Model.HasVoted)
                            {

                                <hr />
                              
                                <div class="col-12">
                                    <form asp-page-handler="AddVote" method="post" class="row">
                                        <input type="hidden" name="HelpRequestId" value="@Model.HelpRequest.Id" />
                                        <input type="hidden" name="ReceiverId" value="@Model.HelpRequest.Customer.Id" />

                                        <h4 class="col-4">به متخصص امتیاز دهید</h4>


                                        <div class="col-8 mx-0">
                                            <div style="display:flex">

                                                <fieldset class="rating " style="margin-right:auto">
                                                    <input type="radio" id="1star5" name="Rate" value="5" />
                                                    <label style="font-size:x-large" class="full" for="1star5"></label>
                                                    <input type="radio" id="1star4" name="Rate" value="4" />
                                                    <label style="font-size:x-large" class="full" for="1star4"></label>
                                                    <input type="radio" id="1star3half" name="Rate" value="3" />
                                                    <label style="font-size:x-large" class="full" for="1star3half"></label>
                                                    <input type="radio" id="1star3" name="Rate" value="2" />
                                                    <label style="font-size:x-large" class="full" for="1star3"></label>
                                                    <input type="radio" id="2star1" name="Rate" value="1" />
                                                    <label style="font-size:x-large" class="full" for="2star1"></label>

                                                </fieldset>
                                                <input class="btn btn-dark" value="ثبت" type="submit">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            }
                            <h5 class="single-info">توضیحات: @Model.HelpRequest.Description </h5>
                        }
                        else
                        {
                            <ا4>امتیازی که شما به درخواست دهنده دادید : </ا4>
                            <div>
                                <span id="rate2" class=" rating-star">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        }

                    </div>

                </div>
            </div>


            @if (Model.HelpRequest.StatusId == 4)
            {
                @foreach (var comment in Model.Comments)
                {
                    <div class="ratings-wrapper">
                        <div class="sin-ratings">
                            <div class="rating-author">
                                <h3>@comment.Writer.FullName</h3>
                                @*<div class="rating-star">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span>(5)</span>
                        </div>*@
                            </div>
                            <p>@comment.Message</p>
                        </div>
                    </div>
                }

                <div class="rating-form-wrapper fix">
                    <h3>نظر خود را درباره درخواست دهنده بنویسید:</h3>
                    <form method="post" asp-page-handler="AddComment">
                        <div class="rating-form row">

                            <div class="col-12 form-group">
                                <label for="your-review">نظر شما:</label>
                                <textarea name="Message" id="message" placeholder="نظر خود را بنویسید ..."></textarea>
                            </div>
                            <input type="hidden" name="HelpRequestId" value="@Model.HelpRequest.Id" />
                            <div class="col-12">
                                <input value="ارسال" type="submit">
                            </div>
                        </div>
                    </form>
                </div>

            }




        </div>
    </div>



    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {


            ratingValue = @Html.Raw(Model.Vote);
            console.log("...")
            var startlist2 = document.getElementById('rate2').childNodes
            for (var i = 0; i < ratingValue; i++) {
                startlist2[i * 2 + 1].classList.remove('fa-star-o');
                startlist2[i * 2 + 1].classList.add('fa-star');
            }
            document.getElementById('percent2').innerHTML = (ratingValue / 5 * 100) + "%"
        })
    </script>
