@page "{id}"
@model Help.EndPoints.RazorPage.Pages.HelpServiceModel
@{
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.HelpService.Title</h1>
                        <p>@Model.HelpService.Description</p>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="./Index">صفحه اصلی</a></li>
                            <li class="active">@Model.HelpService.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <hr />
                            درخواست ها :

                            <div class="col-lg-12">
                                <div class="shop-page-content">
                                    <div class="row shop-product-wrap grid three-column">
                                        @foreach (var request in Model.HelpService.HelpRequests)
                                        {
                                            <div class="col-lg-4 col-sm-6 grid-item">
                                                <div class="single-category-item">
                                                    <div class="single-grid-product__image">

                                                        <a asp-page="/HelpRequest" asp-route-id="@request.Id">
                                                            <img style="width:500px; height:100px;" src="~/Images/HelpRequestPictures/@request.Pictures.First().Name" class="img-fluid" />
                                                        </a>

                                                    </div>
                                                    <div class="single-grid-product__content">

                                                        <div class="single-grid-product__category-rating">
                                                            <span class="category">
                                                                <a asp-page="/HelpService" asp-route-id="@request.HelpService.Id">@request.HelpService.Title</a>
                                                            </span>

                                                        </div>

                                                        <h2 class="single-grid-product__title">
                                                            <a asp-page="/HelpRequest" asp-route-id="@request.Title">@request.Title</a>
                                                            <br />
                                                            <a asp-page="HelpRequest" asp-route-id="@request.Id">
                                                                <i class="ion-android-arrow-dropleft-circle"></i> جزییات
                                                            </a>
                                                        </h2>
                                                        @if (request.StatusId == 2)
                                                        {
                                                            <h2 class="text-success single-grid-product__title">
                                                                منتظر پیشنهاد مناسب
                                                            </h2>
                                                        }
                                                        else if (request.StatusId == 3)
                                                        {
                                                            <h2 class="text-warning single-grid-product__title">
                                                                در حال انجام
                                                            </h2>
                                                        }
                                                        else if (request.StatusId == 3)
                                                        {

                                                            <h2 class="text-danger single-grid-product__title">
                                                                تمام شده

                                                            </h2>
                                                        }
                                                        <div class="row text-center">
                                                            @if (request.StatusId == 2)
                                                            {
                                                                <div class="row">


                                                                    <a asp-page="HelpRequest" asp-route-id="@request.Id" class="btn btn-secondary">ثبت پیشنهاد</a>

                                                                </div>
                                                            }

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="pagination-area">
                                    <div class="pagination-area__left">
                                        Showing 1 to 9 of 11 (2 Pages)
                                    </div>
                                    <div class="pagination-area__right">
                                        <ul class="pagination-section">
                                            <li>
                                                <a class="active" href="#">1</a>
                                            </li>
                                            <li>
                                                <a href="#">2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>