@page "{id}"
@model Help.EndPoints.RazorPage.Pages.HelpServiceModel
@{
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.HelpService.Title</h1>
                        <p>@Model.HelpService.Description</p>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="./Index">صفحه اصلی</a></li>
                            <li class="active">@Model.HelpService.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <hr />
                            درخواست ها :

                            <div class="col-lg-12">
                                <div class="shop-page-content">
                                    <div class="row shop-product-wrap grid three-column">
                                        @foreach (var request in Model.HelpService.HelpRequests)
                                        {


                                            <div class="col">
                                                <!--=======  single slider post  =======-->
                                                <div class="single-slider-post">
                                                    <div class="single-slider-post__image">
                                                        <a href="blog-post-left-sidebar.html">
                                                            <img style="width:500px; height:300px;" src="~/Images/HelpRequestPictures/@request.Pictures.First().Name" class="img-fluid" />
                                                        </a>
                                                        <div class="single-slider-post__date-sticker">
                                                            <a asp-page="HelpRequest" asp-route-id="@request.Id">
                                                                <i class="ion-android-arrow-dropleft-circle"></i> جزییات
                                                            </a>



                                                            @if (request.StatusId == 2)
                                                            {
                                                                <span class=" text-secondary">منتظر پیشنهاد مناسب</span>

                                                            }
                                                            else if (request.StatusId == 3)
                                                            {
                                                                <span class=" text-warning">    در حال انجام</span>
                                                            }
                                                            else if (request.StatusId == 3)
                                                            {

                                                                <span class=" text-danger">       تمام شده</span>
                                                            }


                                                        </div>
                                                    </div>
                                                    <div class="single-slider-post__content">
                                                        <h3 class="title">
                                                            @request.Title
                                                        </h3>

                                                        <p class="post-meta">by <a href="#">@request.Customer.FullName</a></p>


                                                        <p class="short-desc">
                                                            @request.Description
                                                        </p>


                                                        <a asp-page="HelpRequest" asp-route-id="@request.Id" class="button small type--B">
                                                            <div class="button__line"></div>
                                                            <div class="button__line"></div>
                                                            <span class="button__text">ثبت پیشنهاد</span>
                                                            <div class="button__drow1"></div>
                                                            <div class="button__drow2"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <!--=======  End of single slider post  =======-->
                                            </div>





                                         
                                        }
                                    </div>
                                </div>

                                <div class="pagination-area">
                                    <div class="pagination-area__left">
                                        Showing 1 to 9 of 11 (2 Pages)
                                    </div>
                                    <div class="pagination-area__right">
                                        <ul class="pagination-section">
                                            <li>
                                                <a class="active" href="#">1</a>
                                            </li>
                                            <li>
                                                <a href="#">2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>