@page "{id}"
@using Base_Framework.General
@model Help.EndPoints.RazorPage.Pages.HelpRequestModel


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.HelpRequest.Title</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="/Index">صفحه اصلی</a>
                            </li>
                            <li>
                                <a asp-page="/HelpRequest" asp-route-id="@Model.HelpRequest.Title">@Model.HelpRequest.Title</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content-area">
    <div class="container">
        <div class="row">


            <div class="col-md-7 mb-3">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="single-product-main-content-area section-space" style="direction: ltr;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-details-slider-area">
                                        <div class="big-image-wrapper">
                                            <div class="product-details-big-image-slider-wrapper product-details-big-image-slider-wrapper--bottom-space ht-slick-slider"
                                                 data-slick-setting='{
                                                    "slidesToShow": 1,
                                                    "slidesToScroll": 1,
                                                    "arrows": false,
                                                    "autoplay": false,
                                                    "autoplaySpeed": 5000,
                                                    "fade": true,
                                                    "speed": 500,
                                                    "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
                                                    "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
                                                }' data-slick-responsive='[
                                                    {"breakpoint":1501, "settings": {"slidesToShow": 1, "arrows": false} },
                                                    {"breakpoint":1199, "settings": {"slidesToShow": 1, "arrows": false} },
                                                    {"breakpoint":991, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false, "slidesToScroll": 1} }
                                                ]'>

                                                <div class="single-image">
                                                    <img src="~/Images/HelpRequestPictures/@Model.HelpRequest.Picture1Detail" class="img-fluid">
                                                </div>

                                                @if (@Model.HelpRequest.Picture2Detail != null)
                                                {
                                                    <div class="single-image">
                                                        <img src="~/Images/HelpRequestPictures/@Model.HelpRequest.Picture2Detail.Name" class="img-fluid">
                                                    </div>
                                                }

                                            </div>
                                        </div>


                                        <div class="product-details-small-image-slider-wrapper product-details-small-image-slider-wrapper--horizontal-space ht-slick-slider"
                                             data-slick-setting='{
                                                    "slidesToShow": 4,
                                                    "slidesToScroll": 1,
                                                    "arrows": true,
                                                    "autoplay": false,
                                                    "autoplaySpeed": 5000,
                                                    "speed": 500,
                                                    "asNavFor": ".product-details-big-image-slider-wrapper",
                                                    "focusOnSelect": true,
                                                    "centerMode": false,
                                                    "prevArrow": {"buttonClass": "slick-prev", "iconClass": "fa fa-angle-left" },
                                                    "nextArrow": {"buttonClass": "slick-next", "iconClass": "fa fa-angle-right" }
                                                }' data-slick-responsive='[
                                                    {"breakpoint":1501, "settings": {"slidesToShow": 3, "arrows": false} },
                                                    {"breakpoint":1199, "settings": {"slidesToShow": 3, "arrows": false} },
                                                    {"breakpoint":991, "settings": {"slidesToShow": 5, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":767, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":575, "settings": {"slidesToShow": 3, "arrows": false, "slidesToScroll": 1} },
                                                    {"breakpoint":479, "settings": {"slidesToShow": 2, "arrows": false, "slidesToScroll": 1} }
                                                ]'>
                                            <div class="single-image">
                                                <img src="~/Images/HelpRequestPictures/@Model.HelpRequest.Picture1Detail.Name" class="img-fluid">
                                            </div>
                                            @if (@Model.HelpRequest.Picture2Detail != null)
                                            {
                                                <div class="single-image">
                                                    <img src="~/Images/HelpRequestPictures/@Model.HelpRequest.Picture2Detail.Name" class="img-fluid">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-5 mb-3 ">



                <div class="product-description-review-area">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-slider-wrapper product-description-review-container  ">

                                <div class="row">
                                   

                                    <div class="col-6">
                                        <div class="single-product-content-description">




                                            <p class="single-grid-product__price" style="direction: rtl">

                                                قیمت پیشنهادی : <span class="main-price">@Model.HelpRequest.ProposedPrice تومان</span>

                                            </p>

                                            <p class="single-grid-product__price" style="direction: rtl">
                                                تاریخ انقضا : <span class="date"> @Model.HelpRequest.ExpirationDate </span>


                                            </p>



                                            <p class="single-info">
                                                @if (Model.HelpRequest.StatusId == 2)
                                                {
                                                    <span class="text-success">منتظر پیشنهاد افراد</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">گرفته شده</span>
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>


                                <h5 class="single-info">توضیحات: @Model.HelpRequest.Description </h5>

                              <br />
                                <br />
                                @if (Model.HelpRequest.StatusId == 4)
                                {
                //customer Id check
                                    @* <nav>
                                <div class="nav nav-tabs justify-content-center" id="nav-tab"
                                role="tablist">
                                <a class="nav-item nav-link active" id="description-tab"
                                data-toggle="tab" href="#product-description" role="tab"
                                aria-selected="true">توضیحات</a>
                                <a class="nav-item nav-link" id="review-tab" data-toggle="tab"
                                href="#review" role="tab" aria-selected="false">نظرات (@Model.HelpRequest.Comments.Count)</a>
                                </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="product-description"
                                role="tabpanel" aria-labelledby="description-tab">
                                <div class="product-description">
                                @Model.HelpRequest.Description
                                </div>
                                </div>
                                <div class="tab-pane fade" id="review" role="tabpanel"
                                aria-labelledby="review-tab">
                                <div class="product-rating-wrap"> *@
                                    @*<div class="rating-list">
                                <div class="sin-list float-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span>(5)</span>
                                </div>
                                <div class="sin-list float-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(3)</span>
                                </div>
                                <div class="sin-list float-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(1)</span>
                                </div>
                                <div class="sin-list float-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(0)</span>
                                </div>
                                <div class="sin-list float-right">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(0)</span>
                                </div>
                                </div>*@
                                    @*   @foreach (var comment in Model.HelpRequest.Comments)
                                {
                                <div class="ratings-wrapper">
                                <div class="sin-ratings">
                                <div class="rating-author">
                                <h3>@comment.Title</h3>
                                @*<div class="rating-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <span>(5)</span>
                                </div>
                                </div>
                                <p>@comment.Message</p>
                                </div>
                                </div>
                                } *@
                                }
                                else if (Model.HelpRequest.StatusId == 2)
                                {

                                    <div class="rating-form-wrapper mt-1 fix" id="proposal">
                                        <br />
                                        <h2>پیشنهاد دهید</h2>
                                        <form method="post">
                                            <div class="rating-form row">
                                                <div class="col-md-12 col-12 form-group">
                                                    <label asp-for="CreateProposal.SuggestedTime">زمان پیشنهادی:</label>
                                                    <input asp-for="CreateProposal.SuggestedTime" type="text" class="form-control round" id="kama-datepicker-empty" placeholder="تاریخ تحویل" value="@DateTime.Now.ToFarsi()">
                                                </div>
                                                <div class="col-md-12 col-12 form-group">
                                                    <label asp-for="CreateProposal.SuggestedPrice">قیمت پیشنهادی</label>
                                                    <input type="number" asp-for="CreateProposal.SuggestedPrice" placeholder="قیمت پیشنهادی به تومان  ">
                                                </div>
                                                <div class="col-12 form-group">
                                                    <label for="your-review">توضیحات:</label>
                                                    <textarea asp-for="CreateProposal.Description" placeholder="توضیحات خود را بنویسید ..."></textarea>
                                                </div>
                                                <input type="hidden" asp-for="CreateProposal.HelpRequestId" value="@Model.HelpRequest.Id" />

                                                <div class="col-12">
                                                    <input value="ثبت پیشنهاد" type="submit">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


